
@{
    ViewBag.Title = "Help and FAQ";
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Help and FAQ</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<div class="row">
    <div class="col-md-9">
        <p>Have a question that's not answered here?  We're just an email away at <a href="mailto:ask@armchairflying.com">ask@armchairflying.com</a></p>
        <br/>

        <!-- General Questions -->
        <div class="headline"><h2>Frequently Asked Questions</h2></div>
        <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Who is Armchair Flying for?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>This website is for any pilot looking to gain knowledge on a regular basis, as opposed to only cramming for information before a written test or checkride.  Information is available for all levels of pilot, from private pilot to airline transport pilot.  It is also great for flight instructors, as it will keep you refreshed on topics, that you can teach your students.</p>
                        <p>This website is not for pilots who like to skirt the FAA rules.  We are interested in giving lessons to safe and conscientious pilots who are genuinely interested in learning.  We strive to give the best and most accurate information in a fun and easy to learn manner.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            What's unique about the content on Armchair Flying?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>The lessons, articles, and videos tend to be completed in about 5 minutes or less.  It’s meant to be done during breakfast or a lunch break, so you can learn something new or refresh on a topic you haven’t studied in a while.</p>
                        <p>All lessons are generally geared towards airplanes, single and multi-engine land, unless specifically stated.</p>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Who are the Armchair Flying flight instructors?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>We recruit flight instructors from all over the country.  These instructors are judged on the quality of their writing, presentations, and accuracy.  If you are an instructor and are looking to publish content, please email us at <a href="mailto:ask@armchairflying.com">ask@armchairflying.com</a></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            How do I become a member?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Armchair Flying is a subscription based website, much like a magazine, except we provide a greater level of interaction than with a magazine.   The website is full of comprehensive videos and articles to help you gain aviation knowledge on your pace.</p>
                        <p>You can create account or sign in using Facebook @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            How much is a subscription?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Subscriptions are $5/month, billed monthly (that's less than a gallon of 100LL!).  You can cancel at any time.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Can I purchase just one lesson at a time?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>No.  Membership gets you access to the entire site and library of information.  However, you cannot purchase specific lessons individually.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Will it work on my mobile device/tablet?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Yes.  If you are seeing a black video, it is most likely being blocked by your anti-virus software.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            How do I cancel my membership?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>You can cancel your membership at any time from your @Html.ActionLink("Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" }) screen.  Or, you can always email <a href="mailto:ask@armchairflying.com">ask@armchairflying.com</a></p>
                    </div>
                </div>
            </div>

        </div><!--/acc-v1-->
        <!-- End General Questions -->
    </div><!--/col-md-9-->

    <div class="col-md-3">
        <!-- Quote -->
        <blockquote>
            <p>For once you have tasted flight you will walk the earth with your eyes turned skywards, for there you have been and there you will long to return.</p>
            <small class="color-blue">Leonardo da Vinci</small>
        </blockquote>
        <!-- End Quote -->
    </div><!--/col-md-3-->
</div><!--/row-->
