@{
    ViewBag.Title = "Home Page";
}

@section hero {
    @if (!User.IsInRole("Subscriber"))
    {
        @Html.Partial("_GuestHero")
    }
}

@section purchase {

    @if (User.IsInRole("Subscriber"))
    {
        if (ViewBag.JustRegistered)
        {
            <div class="container">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Thank you for subscribing!</h4>
                    You now have access to all of ArmchairFlying.com's content.  To view billing information, history, or to unsubscribe, click you name in the upper right corner and select 'Manage Subscription'.
                </div>
            </div>
        }
    }
    else
    {
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <span>For less than $5/month Armchair Flying keeps you current on tips, techniques, and regulations</span>

                </div>
                <div class="col-md-5">
                    @Html.ActionLink("Subscribe", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn-buy hover-effect", style = "min-width: 190px;" })
                    @Html.ActionLink("Sample Videos", "Samples", "Home", routeValues: null, htmlAttributes: new { @class = "btn-buy hover-effect", style = "min-width: 190px;" })
                </div>
            </div>
        </div>
    </div>
    }  
}


    @if (!User.IsInRole("Subscriber"))
    { 
        <!-- Service Blocks -->
        <div class="row">
            <div class="col-md-4">
                <div class="service">
                    <i class="icon-resize-small service-icon"></i>
                    <div class="desc">
                        <h4>Wisdom</h4>
                        <p>Gain wisdom as you review regularly published articles covering a wide range of topics.  ArmchairFlying.com refreshes your knowlegde of old subjects and makes you think.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="icon-cogs service-icon"></i>
                    <div class="desc">
                        <h4>Confidence</h4>
                        <p>Build and maintain your confidence in the air with aviation safety topics geared towards help you stay safe and legal when you fly.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="icon-plane service-icon"></i>
                    <div class="desc">
                        <h4>Save Time &amp; Money</h4>
                        <p>Articles published on a regular basis will review topics in an interactive format covering private, instrument, and commercial rules/regulations.</p>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Service Blokcs -->
    }


    <!-- Recent Works -->
    <div class="headline"><h2>Recent Articles and Videos</h2></div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/img/main/2.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project One</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/img/main/3.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Two</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/img/main/9.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Three</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="assets/img/main/10.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Four</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Recent Works -->

    <!-- Info Blokcs -->
    <div class="row">
        <!-- Welcome Block -->
        <div class="col-md-8">
            <div class="headline"><h2>Welcome To ArmchairFlying.com</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="assets/img/team/samir.jpg" alt="">
                </div>
                <div class="col-sm-8">
                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    </ul>
                </div>
            </div>

        </div><!--/col-md-8-->
        <!-- Latest Shots -->
        <div class="col-md-4">
            <div class="headline"><h2>Good Reads</h2></div>
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/img/main/5.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/main/4.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/main/3.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div><!--/col-md-4-->
    </div><!--/row-->
    <!-- End Info Blokcs -->


@section Scripts {
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initSliders();
            App.initBxSlider();
            Index.initRevolutionSlider();
        });
    </script>

}


