@{
    ViewBag.Title = "Flight Schools";
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Instructors</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<div class="row team">
    <div class="col-sm-4">
        <div class="thumbnail-style">
            <img class="img-responsive" src="assets/img/team/jason.jpg" alt="">
            <h3><a>Jason Catanzariti</a> <small>CFI, CFII, MEI</small></h3>
            <p>Jason Catanzariti is a flight instructor and aviation author based in New York.  His writing has appeared in Flight Training Magazine, The Space Review, and on his web site www.jasoncfi.com.</p>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>New York</a></li>
                <li><a href="mailto:jason@armchairflying.com"><i class="icon-envelope-alt"></i>jason@armchairflying.com</a></li>
                <li><a href="tel:18458004893"><i class="icon-phone-sign"></i>845-800-4893</a></li>
                <li><a href="http://www.jasoncfi.com"><i class="icon-globe"></i>http://www.jasoncfi.com</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail-style">
            <img class="img-responsive" src="assets/img/team/samir.jpg" alt="">
            <h3><a>Samir Kanuga</a> <small>CFI, CFII, MEI</small></h3>
            <p>Samir Kanuga has been professionally instructing all levels of pilots for 10 years.  With over 2000 hours instructing, he's helped countless aviators perfect their flying skills.</p>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>Scottsdale, AZ</a></li>
                <li><a href="mailto:samir@armchairflying.com"><i class="icon-envelope-alt"></i>samir@armchairflying.com</a></li>
                <li><a href="tel:14806199080"><i class="icon-phone-sign"></i>480-619-9080</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail-style">
            <img class="img-responsive" src="assets/img/team/dave.jpg" alt="">
            <h3><a>Dave Thomas</a> <small>CFI, CFII, MEI</small></h3>
            <p>Dave has instructed pilots for everything from Private Pilot to Multi Engine Instructor. "The only thing more rewarding than passing a checkride, is watching a client pass a checkride!"</p>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>Scottsdale, AZ</a></li>
                <li><a href="mailto:dave@armchairflying.com"><i class="icon-envelope-alt"></i>dave@armchairflying.com</a></li>
                <li><a href="tel:16127601944"><i class="icon-phone-sign"></i>612-760-1944</a></li>
            </ul>
        </div>
    </div>
</div>