@{
    ViewBag.Title = "Flight Schools";
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Instructors</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<div class="row team">
    <div class="col-sm-4">
        <div class="thumbnail-style">
            <img class="img-responsive" src="assets/img/team/jason.jpg" alt="">
            <h3><a>Jason Catanzariti</a> <small>CFII, MEI</small></h3>
            <p>Jason Catanzariti is a flight instructor and aviation author based in New York.  His writing has appeared in Flight Training Magazine, The Space Review, and on his web site www.jasoncfi.com.</p>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>New York</a></li>
                <li><a href="mailto:jason@armchairflying.com"><i class="icon-envelope-alt"></i>jason@armchairflying.com</a></li>
                <li><a href="tel:18885551212"><i class="icon-phone-sign"></i>888-555-1212</a></li>
                <li><a href="http://www.jasoncfi.com"><i class="icon-globe"></i>http://www.jasoncfi.com</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail-style">
            <img class="img-responsive" src="assets/img/team/samir.jpg" alt="">
            <h3><a>Samir Kanuga</a> <small>CFII, MEI</small></h3>
            <p>Samir Kanuga has been professionally instructing all levels of pilots for 10 years.  With over 1500 hours instructing, he's helped countless aviators perfect their flying skills.</p>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="icon-home"></i>Scottsdale, AZ</a></li>
                <li><a href="mailto:samir@armchairflying.com"><i class="icon-envelope-alt"></i>samir@armchairflying.com</a></li>
                <li><a href="tel:14805551212"><i class="icon-phone-sign"></i>480-555-1212</a></li>
            </ul>
        </div>
    </div>
</div>