@{
    ViewBag.Title = "Flight Schools";
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Sample Lessons</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<!-- Service Blcoks -->
<div class="row service-v1 margin-bottom-40">
    <div class="col-md-6">
        <video id="sample1" width="640" height="360" poster="http://acf.blob.core.windows.net/video-storage/sample1.jpg" autoplay controls>
            <source src="http://acf.blob.core.windows.net/video-storage/sample1.webm" type='video/webm; codecs="vp8, vorbis"' />
            <source src="http://acf.blob.core.windows.net/video-storage/sample1.ogv" type='video/ogg; codecs="theora, vorbis"' />
            <source src="http://acf.blob.core.windows.net/video-storage/sample1.mp4" />
            <object width="320" height="240" type="application/x-shockwave-flash" data="flowplayer-3.2.1.swf">
                <param name="movie" value="flowplayer-3.2.1.swf" />
                <param name="allowfullscreen" value="true" />
                <param name="flashvars" value='config={"clip": {"url": "http://wearehugh.com/dih5/pr6.mp4", "autoPlay":false, "autoBuffering":true}}' />
                <p>Download video as <a href="pr6.mp4">MP4</a>, <a href="pr6.webm">WebM</a>, or <a href="pr6.ogv">Ogg</a>.</p>
            </object>
        </video>
        <script>
            var v = document.getElementById("sample1");
            v.onclick = function () {
                if (v.paused) {
                    v.play();
                } else {
                    v.pause();
                }
            };
        </script> 
        <h3><a href="#">Can You Hear Me Now?</a></h3>
        <div class="by-author">
            <strong>by Samir Kanuga</strong>
            <span>/ September 16, 2013</span>
        </div>
        <p>A quick refresher on VFR chart markings that help you communicate with Flight Service</p>
    </div>
</div>
<!-- End Service Blcoks -->

<hr class="margin-bottom-40">
