@{
    ViewBag.Title = "Flight Schools";
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Flight Schools</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<!-- Service Blcoks -->
<div class="row service-v1 margin-bottom-40">
    <div class="col-md-6">
        <img class="img-responsive" src="/assets/img/team/afs.jpg" alt="">
        <h2>Alliance Flight Schools</h2>
        <p>At Alliance, our sole purpose is to help you realize your goals in aviation whether you wish to fly for recreation, business, or as a career choice. We can also help you with your next aircraft purchase. </p>
        <ul class="list-unstyled who margin-bottom-30">
            <li><a href="#"><i class="icon-home"></i>15290 N. 78th Way, Suite 101, Scottsdale, AZ 85260</a></li>
            <li><a href="tel:14806141166"><i class="icon-phone-sign"></i>480-614-1166</a></li>
            <li><a href="http://www.allianceflightschools.com/"><i class="icon-globe"></i>http://www.allianceflightschools.com/</a></li>
        </ul>
    </div>
</div>
<!-- End Service Blcoks -->

<hr class="margin-bottom-40">
