
<!-- Blog Tags -->
<div class="headline headline-md"><h2>Categories</h2></div>
<ul class="list-unstyled blog-tags margin-bottom-30">
    <li><a href="#"><i class="icon-tags"></i> VFR Charts (1)</a></li>
    <li><a href="#"><i class="icon-tags"></i> Radios (1)</a></li>
</ul>
<!-- End Blog Tags -->

